<ion-card *ngFor="let reportData of reportDatas">
  <ion-item lines="none" color="transparent">
    <ion-label text-center>{{ reportData.szMonthAttendance }}</ion-label>
  </ion-item>
  <div class="ion-text-start" padding style="padding-top: 0px">
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col size="8" style="background: transparent" no-padding>
          <ion-text>Total hadir</ion-text> <br>
          <ion-text>Total absen</ion-text> <br>
          <ion-text>Total datang terlambat</ion-text> <br>
          <ion-text>Total pulang cepat</ion-text> <br>
          <ion-text>Total lembur</ion-text>
        </ion-col>
        <ion-col size="4" style="background: transparent" no-padding>
          <ion-text>: {{ reportData.decTotalAttendance }} Hari</ion-text> <br>
          <ion-text>: {{ reportData.decTotalAbsen }} Hari</ion-text> <br>
          <ion-text>: {{ reportData.decTotalLate }}</ion-text> <br>
          <ion-text>: {{ reportData.decTotalBackEarly }}</ion-text> <br>
          <ion-text>: {{ reportData.decTotalOvertime }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-card>

<h1>Tab 2</h1>