<ion-header #header>
  <ion-toolbar color="hk-red">
    <ion-buttons slot="start">
      <ion-back-button color="hk-white-red"></ion-back-button>
    </ion-buttons>
    <ion-title>My Activity</ion-title>
    <!-- <ion-title #label style="visibility: hidden;">My Activity</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <!-- scrollEvents="true" appCustomHeader [header]="header" [label]="label" -->
  <!-- <ion-label padding style="font-size: 34px; font-weight: bold;">My Activity</ion-label> -->

  <br>
  <!-- <ion-searchbar showCancelButton="focus" placeholder="Search Request" color="light" style="width: 90%; margin: 0 auto;"
    mode="ios">
  </ion-searchbar> -->

  <div *ngIf="!isNoActivity && !isNoReport">
    <ion-card style="margin-top: 0px;">
      <ion-item lines="none" color="hk-blue">
        <ion-avatar slot="start">
          <img src="../../../assets/images/user-1.png">
        </ion-avatar>
        <ion-label style="font-size: 16px; color: whitesmoke;">
          <p>{{ txtUserName }} - {{ txtSectionName }}</p>
          <p>{{ txtDivisionName }}</p>
        </ion-label>
      </ion-item>
      <div class="ion-text-start" padding style="padding-top: 0px; padding-bottom: 0px; line-height: 150%;">
        <ion-text color="dark">{{ txtWork }}</ion-text>
        <ion-text> - </ion-text>
        <ion-text>{{ txtLocation }}</ion-text> <br>
        <ion-row no-padding>
          <ion-col size="6" no-padding>
            <ion-text>Health Check</ion-text> <br>
            <ion-text>Datang</ion-text> <br>
            <ion-text>Pulang</ion-text> <br>
            <ion-text>Rencana Keluar</ion-text> <br>
            <ion-text>Bertemu External</ion-text> <br>
            <ion-text>Keluarga Sakit</ion-text> <br>
          </ion-col>
          <ion-col size="6" no-padding>
            <ion-text>: {{ txtHealthCheck }}</ion-text> <br>
            <ion-text>: {{ txtTimeArrived }}</ion-text> <br>
            <ion-text>: {{ txtTimeReturn }}</ion-text> <br>
            <ion-text>: {{ txtRencanaKeluar }}</ion-text> <br>
            <ion-text>: {{ txtExternal }}</ion-text> <br>
            <ion-text>: {{ txtKondisiKeluarga }}</ion-text> <br>
          </ion-col>
        </ion-row>
        <ion-text (click)="OpenOutlook()" color="primary">See Activity on Outlook</ion-text>
        <ion-icon name="arrow-forward" mode="ios" color="primary" style="font-size: 14px; vertical-align: middle">
        </ion-icon>
      </div>
    </ion-card>
  </div>

  <div class="ion-text-center"  *ngIf="isNoActivity" padding>
    <img src="../../../assets/images/img-14.png">

    <ion-text style="font-weight: 700;">
      Anda belum mengisi form activity!
    </ion-text>
    <br>
    <ion-text>
      Yuk lengkapi activity-mu sekarang!
    </ion-text>
  </div>

  <div class="ion-text-center"  *ngIf="isNoReport" padding>
    <img src="../../../assets/images/img-14.png">

    <ion-text style="font-weight: 700;">
      Anda belum melakukan absensi hari ini!
    </ion-text>
    <br>
    <ion-text>
      Silahkan absen terlebih dahulu!
    </ion-text>
  </div>
</ion-content>

<ion-footer *ngIf="isNoActivity || isNoReport" no-shadow no-border padding>
  <ion-button *ngIf="isNoActivity" color="hk-red" expand="full" (click)="AddActivity()">Isi Form Activity</ion-button>
  <ion-button *ngIf="isNoReport" color="hk-red" expand="full" (click)="DoingAbsen()">Absen Sekarang</ion-button>
</ion-footer>