<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Form Lembur</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-col>
      <ion-item>
        {{txtTimeRequest}}
      </ion-item>
    </ion-col>


    <ion-col>
      <ion-item>
        <ion-input type="text" placeholder="Alasan Lembur" [(ngModel)]="txtDesc" name="txtDesc" required></ion-input>
      </ion-item>
    </ion-col>


  </ion-card-content>

  <ion-row class="ion-align-items-center">
    <ion-col class="signup-col">
      <ion-button shape="round" expand="block" color='hk-red' (click)="SaveOvertimeRequest()" type="submit">Submit
      </ion-button>
    </ion-col>
  </ion-row>

</ion-card>