<ion-header>
  <ion-toolbar color="hk-red">
    <ion-buttons slot="start">
      <ion-back-button color="hk-white-red"></ion-back-button>
    </ion-buttons>
    <ion-title>notifications</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row class="nowrap ion-justify-content-center ion-align-items-center">
    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" color="hk-purple" mode="ios" shape="round">
      <ion-segment-button value="0">
        <ion-label>Harian</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Bulanan</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-row>

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'0'">
      <app-report-daily></app-report-daily>
    </div>
  </div>

  <hr width="90%">
</ion-content>