ion-slides {
  --bullet-background-active: var(--ion-color-hk-red);
  --bullet-backcground: var(--ion-color-hk-yellow-tint);

//   background: #3b2e85;
  height: 100%;
}

ion-slide {
  display: block;
  ion-row {
    .text {
      padding-top: 95%;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
  }

  // .button {
  //     position: fixed;
  //     top: 90%;
  // }

  // .bottom {
  //   position: absolute;
  //   bottom: 80px;
  //   left: 0px;
  //   right: 0px;
  // }

  background-image: url("../../../assets/images/bg-2.png");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
