<ion-content fullscreen scroll-y=false>
  <ion-slides fullscreen pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-row>
        <div class="text" padding>
          <h2>Hutama Karya Absen Management System</h2>
          <p>Mobile absensi</p>
        </div>
      </ion-row>
    </ion-slide>

    <ion-slide>
      <ion-row>
        <div class="text" padding>
          <h2>Integrated</h2>
          <p>Sistem absen ini terhubung dengan perangkat absensi di masing-masing divisi</p>
        </div>
    </ion-row>
    </ion-slide>

    <ion-slide>
      <ion-row>
        <div class="text" padding>
          <h2>Powerful</h2>
          <p>Memiliki fitur untuk dapat absen diluar kantor, izin terlambat, pulang cepat, serta pencatatan lembur</p>
        </div>
    </ion-row>
    </ion-slide>

    <ion-slide>
      <ion-row>
        <div class="text" padding>
          <h2>Get Started</h2>
          <p>Biar digaji</p>
          
          <ion-row class="ion-justify-content-center">
              <ion-button  class="button" expand='full' color='hk-purple' shape='round' (click)='navigateToLoginPage()'>Continue <ion-icon name="arrow-forward"></ion-icon>
              </ion-button>
          </ion-row>
        </div>
      </ion-row>

      <!-- <ion-row class="ion-justify-content-center">
          <ion-button  class="button" expand='full' shape='round' (click)='navigateToLoginPage()'>Continue <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
      </ion-row> -->
    </ion-slide>
  </ion-slides>
</ion-content>