<ion-header>
  <ion-toolbar color="hk-red">
    <ion-buttons slot="start">
      <ion-back-button color="hk-white-red"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="hk-tweet">
  <ion-item Lines="full" color="hk-tweet">
    <h5 style="font-weight: bold;">Login and security</h5>
  </ion-item>

  <ion-item detail button Lines="inset">
    <ion-label>Username</ion-label>
    <ion-label class="ion-text-right" style="color: grey;">{{txtUserId}}</ion-label>
  </ion-item>
  <ion-item detail button (click)="UpdatePassword()">Password</ion-item>

  <ion-item Lines="full">
    <ion-label class="ion-text-wrap">
      <sub>Make sure to change your password regularly for privacy and security.</sub>
    </ion-label>
  </ion-item>

  <ion-item Lines="full" color="hk-tweet">
    <h5 style="font-weight: bold;">Account</h5>
  </ion-item>

  <ion-item detail button Lines="inset">
    <ion-label>Name</ion-label>
    <ion-label class="ion-text-right" style="color: grey;">{{txtUserName}}</ion-label>
  </ion-item>

  <ion-item detail button Lines="inset">
    <ion-label>Division</ion-label>
    <ion-label class="ion-text-right" style="color: grey;">{{txtDivisionName}}</ion-label>
  </ion-item>

  <ion-item detail button Lines="inset">
    <ion-label>Section</ion-label>
    <ion-label class="ion-text-right" style="color: grey;">{{txtSectionName}}</ion-label>
  </ion-item>

  <ion-item detail button Lines="full">
    <ion-label>Superior</ion-label>
    <ion-label class="ion-text-right" style="color: grey;">{{txtSuperiorName}}</ion-label>
    <!-- <ion-select mode="ios">
      <span *ngFor="let supervisorName of supervisorList">
        <ion-select-option value="{{supervisorName}}">{{supervisorName}}</ion-select-option>
      </span>
    </ion-select> -->
  </ion-item>

  <hr style="height: 12px; background-color: var(--ion-color-hk-tweet); margin-top: 0px; margin-bottom: 0px;"
    no-padding>
  <hr style="height: 0.5px; background-color: #cecece; margin-top: 0px; margin-bottom: 0px;" no-padding>

  <ion-item button (click)="Logout()" Lines="full">
    <ion-label class="ion-text-center" color="hk-red">Log out</ion-label>
  </ion-item>
</ion-content>