<ion-header>
  <ion-toolbar color="hk-red">
    <ion-buttons slot="start">
      <ion-back-button color="hk-white-red"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="isTerlambat">Form Terlambat</ion-title>
    <ion-title *ngIf="isDatangDiluarKantor">Form Datang Diluar</ion-title>
    <ion-title *ngIf="isPulangCepat">Form Pulang Cepat</ion-title>
    <ion-title *ngIf="isPulangDiluarKantor">Form Pulang Diluar</ion-title>
    <ion-title *ngIf="isLembur">Form Pulang Diluar</ion-title>
    <ion-title *ngIf="isWfoNewNormal">Form WFO - New Normal</ion-title>
    <ion-title *ngIf="isWfoProyek">Form WFO - Absen Proyek</ion-title>
    <ion-title *ngIf="isAllOption">Form New Normal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isTerlambat">
    <app-form-terlambat></app-form-terlambat>
  </div>
  <div *ngIf="isDatangDiluarKantor">
    <app-form-absen-diluar></app-form-absen-diluar>
  </div>
  <div *ngIf="isPulangCepat">
    <app-form-pulang-cepat></app-form-pulang-cepat>
  </div>
  <div *ngIf="isPulangDiluarKantor">
    <app-form-absen-diluar></app-form-absen-diluar>
  </div>
  <div *ngIf="isLembur">
    <app-form-lembur></app-form-lembur>
  </div>
  <div *ngIf="isWfoNewNormal">
    <app-form-wfo-new-normal></app-form-wfo-new-normal>
  </div>
  <div *ngIf="isWfoProyek">
    <app-form-absen-proyek></app-form-absen-proyek>
  </div>
  <div *ngIf="isAllOption">
    <app-form-all-option></app-form-all-option>
  </div>
</ion-content>