<ion-content>
  <img src="../../../assets/images/bg-3.png" alt="bg-3">
</ion-content>

<ion-grid no-padding>
  <ion-row no-padding>
    <ion-col no-padding>
      <div class="ion-text-start">
        <ion-button shape="round" expand="block" color="hk-grey" (click)="closePopover()">Cancel</ion-button>
      </div>
    </ion-col>
    <ion-col no-padding>
      <div class="ion-text-end">
        <ion-button shape="round" expand="block" color="hk-grey" (click)="closePopover()">OK</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
