<ion-header>
  <ion-toolbar color="hk-red">
    <ion-buttons slot="start">
      <ion-button (click)="ClosePassword()">close</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>done</ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="hk-tweet">
  <ion-item Lines="full">
    <ion-label>Current password</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <hr style="height: 12px; background-color: var(--ion-color-hk-tweet); margin-top: 0px; margin-bottom: 0px;"
    no-padding>
  <hr style="height: 0.5px; background-color: #cecece; margin-top: 0px; margin-bottom: 0px;" no-padding>

  <ion-item Lines="inset">
    <ion-label>New password</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item Lines="full">
    <ion-label>Confirm password</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-content>