.content {
  display: flex;
  flex-flow: column;
  height: 100%;

  .leadUsername {
    font-size: 12px;
    font-weight: 700;
  }

  .leadDivisionName {
    font-size: 8px;
    font-weight: 500;
  }

  .leadCheckIn {
    line-height: 25px;
    font-weight: 500;
  }

  .scrollYnew {
    overflow: auto;
    flex-grow: 1 !important;
  }

  ion-card {
    --background: #ffffff;
    box-shadow: none;
    border-radius: 20px;
  }
}

.buttonBack {
  position: absolute;
  top: 0%;
  width: 100%;
  font-weight: bold;
}

// .content {
//   --background: none;
//   background-image: url("../../../assets/images/bg-5.png");
//   background-position: center top;
//   background-repeat: no-repeat;
//   background-size: 100%;
// }

.borderSolid {
  border-radius: 10px !important;
  overflow: hidden !important;
  border: 2px solid var(--ion-color-hk-white-red) !important;
  background-color: var(--ion-color-hk-white-red); 
  height: 100%;
}
