<ion-header #header>
  <ion-toolbar color="hk-red">
    <ion-buttons slot="start">
      <ion-back-button color="hk-white-red"></ion-back-button>
    </ion-buttons>
    <ion-title #label>Attendance</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-button type="submit" float-left fill="clear" color="dark" class="btnPrev" (click)="prev()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-button type="submit" float-right fill="clear" color="dark" class="btnNext" (click)="next()">
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>

  <ion-slides #slidesMonth (ionSlideDidChange)="slideMonthChanged()" [options]="slideOpts" style="min-height: 30px">
    <ion-slide>
      <ion-text style="padding-top: 12px">Januari {{ decCurrentYear }}</ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text style="padding-top: 12px">Februari {{ decCurrentYear }}</ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text style="padding-top: 12px">Maret {{ decCurrentYear }}</ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text style="padding-top: 12px">April {{ decCurrentYear }}</ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text style="padding-top: 12px">Mei {{ decCurrentYear }}</ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text style="padding-top: 12px">Juni {{ decCurrentYear }}</ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text style="padding-top: 12px">Juli {{ decCurrentYear }}</ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text style="padding-top: 12px">Agustus {{ decCurrentYear }}</ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text style="padding-top: 12px">September {{ decCurrentYear }}</ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text style="padding-top: 12px">Oktober {{ decCurrentYear }}</ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text style="padding-top: 12px">November {{ decCurrentYear }}</ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text style="padding-top: 12px">Desember {{ decCurrentYear }}</ion-text>
    </ion-slide>
  </ion-slides>

  <div class="container">
    <div class="scroll" scrollX="true">
      <span *ngFor="let buttonPropertyData of buttonPropertyDatas">
        <ion-button shape="round" size="small" fill="{{ buttonPropertyData.fill }}"
          color="{{ buttonPropertyData.color }}" (click)="GetDayData(buttonPropertyData.date)">
          {{ buttonPropertyData.date }}
        </ion-button>
      </span>
    </div>
  </div>

  <hr width="90%">

  <ion-grid style="width: 90%" class="ion-no-padding">
    <ion-row class="ion-no-padding" align-items-center>
      <ion-col size="2" class="ion-no-padding" style="text-align: left">
        <ion-icon name="card" style="font-size: 50px; vertical-align: middle" color="hk-red"></ion-icon>
      </ion-col>
      <ion-col size="10" style="text-align: left; font-size: 16px">
        <ion-text color="hk-darkgrey">Datang : </ion-text>
        <ion-text color="dark">{{ txtTimeArrived }}</ion-text>
        <br>
        <ion-text color="hk-darkgrey">Pulang : </ion-text>
        <ion-text color="dark">{{ txtTimeReturn }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr width="90%">

  <!-- <ion-card>
    <div class="ion-text-start" padding style="padding-top: 0px">
      <ion-text> <br /> <img src="{{ photo }}" class="center" /></ion-text>
    </div>
  </ion-card>

  <hr width="90%">

  <ion-card>
    <div class="ion-text-start" padding style="padding-top: 0px">
      <img src="{{ photo }}" class="center" />
    </div>
  </ion-card>

  <hr width="90%"> -->

  <ion-card class="ion-text-center" *ngIf="activityArrived">
    <!-- <div style="margin: 5px; margin-bottom: 0px;"> -->
    <img *ngIf="photoArrived" src="{{ photoArrived }}" class="center" />
    <!-- </div> -->
    <div class="ion-padding">
      <ion-text style="font-weight: 700;">{{ activityArrived }}</ion-text>
    </div>
  </ion-card>

  <ion-card class="ion-text-center" *ngIf="activityReturn">
    <!-- <div style="margin: 5px; margin-bottom: 0px;"> -->
    <img *ngIf="photoReturn" src="{{ photoReturn }}" class="center" />
    <!-- </div> -->
    <div class="ion-padding">
      <ion-text style="font-weight: 700;">{{ activityReturn }}</ion-text>
    </div>
  </ion-card>

  <ion-card *ngIf="txtTimeReturn">
    <ion-item color="hk-yellow">
      <ion-text>Nilai dan Cerita AKHLAK BUMN yang dilakukan</ion-text>
    </ion-item>

    <div padding *ngIf="txtValueAkhlak && txtStoryAkhlak">
      <ion-text style="font-weight: 700;">{{ txtValueAkhlak }}</ion-text>
      <ion-text> - {{ txtStoryAkhlak }}</ion-text>
    </div>

    <div *ngIf="!txtValueAkhlak && !txtStoryAkhlak">
      <ion-row class="ion-align-items-center">
        <ion-col size="8">
          <div class="ion-text-center">
            <ion-text>Anda belum mengisi cerita AKHLAK</ion-text> <br>
            <ion-text>hari ini</ion-text>
          </div>
        </ion-col>
        <ion-col size="4">
          <ion-button color="hk-darkgrey" expand="block" (click)="IsiCerita()">Isi Cerita</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

</ion-content>

<ion-footer no-shadow class="ion-no-border">
  <ion-card>
    <ion-item color="hk-yellow">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <p>Silahkan cek melalui aplikasi HITS untuk me-review dan memvalidasi data kehadiran</p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-footer>