<ion-header #header>
  <ion-toolbar color="hk-red">
    <ion-buttons slot="start">
      <ion-back-button color="hk-white-red"></ion-back-button>
    </ion-buttons>
    <ion-title #label>Attendance</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content scrollEvents="true" class="content">
  <!-- <ion-searchbar showCancelButton="focus" placeholder="Search" color="light" style="width: 90%; margin: 0 auto;"
    mode="ios">
  </ion-searchbar> -->

  <app-report-daily></app-report-daily>
  <app-report-daily2></app-report-daily2>

</ion-content>

<ion-footer no-shadow no-border>
  <ion-card>
    <ion-item color="hk-yellow">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <p>Silahkan cek melalui aplikasi HITS untuk mengetahui data valid kehadiran</p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-footer>