ion-footer {
    color: #000000;
    background-color: #f0f0f0;
    padding-bottom: 5px;
    padding-top: 20px;
    padding-left: 18px;
    padding-right: 18px;
  
    .ion-float-right {
      text-align: right;
      font-size: 14px;
    }
  
    .ion-float-left {
      font-size: 14px;
    }
  
    ion-button{
      min-height: 50px;
    }
  
    .ontime{
      font-size: 10px;
      height: 18px;
      background: var(--ion-color-hk-green);
    }
  
    .terlambat{
      font-size: 10px;
      height: 18px;
      background: var(--ion-color-hk-red);
    }
  
    .diluarkantor{
      font-size: 10px;
      height: 18px;
      background: var(--ion-color-hk-yellow);
    }
  }
  
  ion-content{
    .workStatus{
      font-size: 14px;
      color: var(--ion-color-hk-green);
    }
  }
  
  .datang {
    text-align: center;
  }
  
  .inner {
    width: 2000px;
    height: 100%;
  
    ion-card {
      display: table-cell;
      border: solid 1px #ccc;
    }
  }
  
  .forecast_container {
    overflow-x: scroll !important;
    overflow-y: hidden;
    word-wrap: break-word;
    height: 20vw;
    font-size: 0.8em;
    font-weight: 300;
    width: 200%;
  }
  
  ion-scroll[scrollx="true"],
  ion-scroll[scrollx="true"] {
    overflow: hidden;
  }
  
  ion-scroll[scrollx="true"] {
    position: relative;
    overflow-x: auto;
    height: 100px;
  }
  
  div.container {
    display: inline-flex;
  }
  
  .fixed[scrollx=true]{
    overflow-x: scroll !important;
    overflow-y: hidden;
    word-wrap: break-word;
    height: 20vw;
    font-size: 0.8em;
    font-weight: 300;
    width: 200%;
  }
  