ion-content {
  --background: #f0f0f0;
}

ion-card {
  --background: #ffffff;
  box-shadow: none;
}

.ios ion-card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.content {
  display: flex;
  flex-flow: column;
  height: 100%;

  .headSnap {
    --background: none;
    background-image: url("../../assets/images/bg-8.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;

    .leaderboard{
      position: relative;

      .left-item-leaderboard {
        position: absolute;
        bottom: 0%;
        font-weight: bold;
      }
  
      .right-item-leaderboard {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100%;
      }
    }
  }

  .flexContainer {
    overflow: auto;
    flex-grow: 1 !important;
    // background-color: #ffffff;

    .container {
      padding-top: 0px;
      padding-bottom: 0px;
      white-space: nowrap;
      ::-webkit-scrollbar {
        display: none;
      }
      .scroll {
        overflow: auto;
      }
    }
  }
}

.footer-content {
  color: #000000;
  background-color: #ffffff;
  padding-bottom: 5px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;

  .ion-float-right {
    text-align: right;
    font-size: 14px;
  }

  .ion-float-left {
    font-size: 14px;
  }
}
