ion-footer {
  color: #000000;
  background-color: #f0f0f0;
  padding-bottom: 5px;
  padding-top: 20px;
  padding-left: 18px;
  padding-right: 18px;

  .ion-float-right {
    text-align: right;
    font-size: 14px;
  }

  .ion-float-left {
    font-size: 14px;
  }

  ion-button {
    min-height: 50px;
  }

  .ontime {
    font-size: 10px;
    height: 18px;
    background: var(--ion-color-hk-green);
  }

  .terlambat {
    font-size: 10px;
    height: 18px;
    background: var(--ion-color-hk-red);
  }

  .diluarkantor {
    font-size: 10px;
    height: 18px;
    background: var(--ion-color-hk-yellow);
  }
}

ion-content {
  .workStatus {
    font-size: 14px;
    color: var(--ion-color-hk-green);
  }

  // .bottom {
  //   position: absolute;
  //   bottom: 80px;
  //   left: 0px;
  //   right: 0px;
  // }

  .ion-justify-content-center {
    // background: #a85858;
    background-image: url("../../assets/images/tes-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    // grid-auto-rows: 330%;
    height: 80%;
  }
}