<ion-header>
  <ion-toolbar color="hk-red">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ txtDayNow }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding scroll-y=false>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="DoRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-text style="font-size: 14px">Status: </ion-text>
  <ion-text style="font-size: 14px ;" color="{{colorStatus}}">{{ txtWorkStatus }}</ion-text>
  <!--<p>Example just hit <a target="_blank" rel="noopener" href="https://www.hutamakarya.com/id/">hutama karya</a>
    text.
  </p>-->

  <ion-row class="nowrap ion-justify-content-center ion-align-items-center">
    <ion-text style="font-size: 34px; text-align: center">{{ txtTimeNow }}</ion-text>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-float-left" size="8" style="background: transparent">
        <ion-text>Datang : {{txtTimeArrived}}</ion-text>
        <br>
        <ion-text>Pulang : {{txtTimeReturn}}</ion-text>
      </ion-col>
      <ion-col class="ion-float-right" size="4" style="background: transparent">
        <ion-text (click)="NavigateToReportPage(0)">Detail </ion-text>
        <ion-icon name="arrow-forward" mode="ios" style="font-size: 14px; vertical-align: middle"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-chip class="ontime">
    <ion-label color="light">On Time</ion-label>
  </ion-chip>

  <ion-chip class="terlambat">
    <ion-label color="light">Terlambat</ion-label>
  </ion-chip>

  <ion-chip class="diluarkantor">
    <ion-label color="light">Absen Diluar Kantor</ion-label>
  </ion-chip> -->

  <ion-button expand="block" shape="round" color="hk-red" (click)="ButtonAbsen()">ABSEN</ion-button>
</ion-footer>