<!-- BATAS ATAS -->
<ion-button type="submit" float-left fill="clear" color="dark" class="btnPrev" (click)="prev()">
  <ion-icon name="arrow-back"></ion-icon>
</ion-button>
<ion-button type="submit" float-right fill="clear" color="dark" class="btnNext" (click)="next()">
  <ion-icon name="arrow-forward"></ion-icon>
</ion-button>

<ion-slides #slidesMonth (ionSlideDidChange)="slideMonthChanged()" [options]="slideOpts" style="min-height: 30px">
  <ion-slide>
    <ion-text style="padding-top: 12px">Januari {{ tahun }}</ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text style="padding-top: 12px">Februari {{ tahun }}</ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text style="padding-top: 12px">Maret {{ tahun }}</ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text style="padding-top: 12px">April {{ tahun }}</ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text style="padding-top: 12px">Mei {{ tahun }}</ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text style="padding-top: 12px">Juni {{ tahun }}</ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text style="padding-top: 12px">Juli {{ tahun }}</ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text style="padding-top: 12px">Agustus {{ tahun }}</ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text style="padding-top: 12px">September {{ tahun }}</ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text style="padding-top: 12px">Oktober {{ tahun }}</ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text style="padding-top: 12px">November {{ tahun }}</ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text style="padding-top: 12px">Desember {{ tahun }}</ion-text>
  </ion-slide>
</ion-slides>

<div class="container">
  <div class="scroll" scrollX="true">
    <span *ngFor="let buttonPropertyData of buttonPropertyDatas">
      <ion-button shape="round" size="small" fill="{{ buttonPropertyData.fill }}" color="{{ buttonPropertyData.color }}"
        (click)="GetDayData(buttonPropertyData.date)">
        {{ buttonPropertyData.date }}
      </ion-button>
    </span>
  </div>
</div>
<!-- BATAS BAWAH -->